$background-light-theme: #FFFFFF;
$gradient-start-block: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 69%), #211F20;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;

$color-light-s: #FAFAFA;
$color-light-xl: #fff;
$color-light-l: #F6F6F6;
$color-light-ll: #F6F6F6;

$background: #E5E5E5;
$footer-background: #211F20;
$black: #000;